html, body{
    height: 100%;
    /*background-color: white;*/
    background-color: white;
}
.wrapper{
    min-height: 100%;
    width: 910px;
    margin: 0 auto;
    background-color: white;
}
/*header*/
header{
    width: 100%;
    height: 54px;
    background-color: inherit;
    overflow: hidden;
}
header p {
    padding-top: 20px;
    float: left;
}
header p span{
    font-size: 18px;
    color: #5e696d;
    font-family: Arial;
}
header p img{
    float: left;
}
/*registration form*/
.registration{
    height: 27px;
    width: 495px;
    background-image: linear-gradient(180deg,#206988,#0c3256);
    float: left;
    box-shadow: 3px 0 3px;
    border-radius: 3px;
    margin: 17px 0 0 17px;
}
.registration img{
    float: left;
    margin: 5px 0 0 7px;
}
.registration .regist{
    display: block;
    font-size: 10.91px;
    text-decoration: none;
    /*line-height: 27px;*/
    color: white;
    margin-top: 2px;
    border-left: 1px solid white;
    float: left;
    padding-left: 3px;
    margin-top: 8px;
    margin-left: -3px;
}
.forget-password{
    color: #959da5;
    font-size: 12px;
    display: block;
    float: left;
    line-height: 27px;
    margin-left: 25px;
}
/*enter form*/
.enter-form{
    float: left;
}
.enter-form input{
    outline: 1px solid #9ba1a3;
}
.enter-form .login,.enter-form .password{
    width: 113px;
    height: 15px;
    margin: 2px 0 0 5px;
}
.enter-form .login{
    position: relative;
    bottom: 1px;
}
.enter-form .enter {
    text-decoration: none;
    background: inherit;
    border: none;
    outline: none;
    font-size: 10.91px;
    color: white;
}
/*right icons*/
.small-icons{
    float: left;
    height: 21px;
    width: 77px;
    border: 1px solid #bdc4c7;
    box-shadow: 1px 1px 1px;
    border-radius: 7px 7px 7px 7px;
    margin: 17px 0 0 17px;
}
.small-icons a{
    display: block;
    float: left;
    margin: 3px 0 0 9px;
}
.small-icons a:last-child{
    margin-top: 2px;
}
/*menu*/
.top-menu{
    height: 35px;
    width: 100%;
    background-image: linear-gradient(180deg,#576068,#000000);
    outline: 1px solid #0d1642;
    /*box-shadow: 3px 0 5px ;*/
}
.top-menu ul{
    float: left;
    margin-left: 125px;
}
.top-menu ul li{
    float: left;
    /*line-height: 35px;*/
}
.top-menu ul li a{
    display: block;
    line-height: 35px;
    margin-top: 2px;
    padding-bottom: 5px;
    height: 26px;
    width: 105px;
    text-align: center;
    font-size: 13.64px;
    font-family: Arial;
    text-decoration: none;
    color: white;
}
.top-menu ul li a:hover{
    background-image: linear-gradient(180deg,#206988,#0c3256);
    border-radius: 21px/ 19px;
}
.top-menu p{
    float: right;
    line-height: 35px;
    margin-right: 14px;
}
.order, .suma{
    color: white;
    font-size: 11px;
    font-family: Arial;
}
.suma{
    padding-right: 8px;
}
.number,.money{
    padding-right: 12px;
    color: #0d5a8f;
    font-size: 12px;
    font-family: Arial;
}
/*search blocks*/
.search-block:after{
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;

}
.search-for-car{
    position: relative;
    float: left;
    margin-top: 14px;
    height: 132px;
    width: 412px;
    border: 1px solid #9c9c9d;
    box-shadow:   5px 5px 0;
    border-radius: 14px;
}
.shin-search{
    float: left;
    margin:14px 0 0 15px;
    height: 132px;
    width: 194px;
    border: 1px solid #9c9c9d;
    box-shadow: 5px 5px 0;
    border-radius: 14px;
    /*overflow: hidden;*/
}
.disk-search{
    float: left;
    margin:14px 0 0 10px;
    height: 132px;
    width: 265px;
    border: 1px solid #9c9c9d;
    box-shadow:  5px 5px 0;
    border-radius: 14px;
    position: relative;
}
/*shin-search*/
.shin-search form .search-shin, .disk-search form .search-disk{
    font-size: 12px;
    color: #114165;
    font-family: Arial;
    font-weight: bold;
    margin: 5px 0 0 10px;
}
.shin-search form .size, .sizer{
    font-size: 10px;
    font-weight: bold;
}
.search{
    background: none;
    border: none;
    color: blue;
    font-family: italic;
    margin-left: 120px;
    margin-top: -20px;
    font-size: 14px;
}
.search:hover{
    text-decoration: underline;
    color: #154467;
}
.seasons{
    font-size: 10px;
}
.shin-search form p input:not(.summer){
    margin-left: 60px;
    margin-top: 0;
}
.summer{
    margin-left:17px;
}
.sizer{
    margin-left: 47px;
}
.size{
    margin-left: 14px;
}
.shin-search form .size select{

    width: 52px;
    height: 18px;
    margin: 4px 10px 0 10px;
}
/*disk-search*/
.disk-diametr{
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
}
.quantity{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 40px;
    left: 15px;
}
.diametr-posit{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 72px;
    left: 15px;
}
.dco{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 5px;
    left: 185px;
}
.et{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    top: 72px;
    left: 185px;
}
.small-size{
    font-size: 9px;
    color: #77858b;
    margin: 0 6px 0 6px;
}
.disk-search form .disk-diametr select{
    height: 18px;
    width: 50px;
}
.disk-search form .quantity select{
    height: 18px;
    width: 50px;
    margin-left: 27px;
    margin-top: -6px;
}
.disk-search form .diametr-posit select{
    height: 18px;
    width: 50px;
    margin-left: 27px;
    margin-top: -26px;
}
.disk-search form .dco select{
    height: 18px;
    width: 50px;
    margin-top: 5px;
}
.disk-search form .search{
    position: absolute;
    top: 135px;
    left: 80px;
    font-size: 14px;
}
/*car search*/
.search-for-car form .search{
    position: absolute;
    top: 133px;
    left: 225px;
    font-size: 14px;
}
.disks{
    float: left;
}
.shins{
    float: right;
}
.car-search {
    color: #154467;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    font-family: Arial;
}
.diskk, .shinn{
    position: absolute;
    font-size: 10px;
    color: #154467;
    font-weight: bold;
}
.shinn{
    top: 5px;
    left: 370px;
}
.diskk{
    left: 10px;
    top: 5px;
}
.marka{
    margin-top: 12px;
    font-size: 10px;
    font-weight: bold;
}
.model,.avto-year, .complect{
    font-size: 10px;
    font-weight: bold;
    margin-top: 4px;
}
.shins .model{
    margin-right: 10px;
}
.disks .marka{
    margin-left: 10px;
}
.disks .complect{
    margin-left: 9px;
}
.disks .model, .disks .avto-year{
    margin-left: 14px;
}
 .marka select, .complect select{
    height: 18px;
    width: 102px;
     margin-left: 5px;
     /*margin-top: -6px;*/
}
.model select, .avto-year select{
    height: 18px;
    width: 102px;
}
.marka select, .model select, .avto-year select{
    margin-top: -6px;
}
/*main content*/
.main-content:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}
.main-content{
    margin-top: 14px;
}
.left-side-bar{
    width: 190px;
    float: left;
    height: 630px;
    background-color: #ffffff;
}
.content{
    background-image: linear-gradient(0deg, #5494b1,#c9cfd1);
    height: 630px;
    width: 530px;
    float: left;
    border-radius: 2px;
}
.top-part{
    margin-top: 16px;
}
.center-part, .bottom-part{
    margin-top: 27px;
}
.top-part:after, .center-part:after,.bottom-part:after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.goodyear,.nokian, .hankook {
    float: left;
    text-align: center;
    margin-left: 25px;
}
.goodyear .price, .nokian .price, .hankook .price{
    color: #114165;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
}
.goodyear .name, .nokian .name, .hankook.name{
    color: black;
    font-size: 12.77px;
}
.goodyear a, .nokian a, .hankook a{
    text-decoration: none;
    font-size: 14.6px;
    color: #206988;
}
/*right bar*/
.right-side-bar{
    width: 190px;
    background-color: #ffffff;
    float: left;
    height: 630px;
    width: 190px;
    /*overflow: hidden;*/
}
form ul li{
}
form ul li a{
    display: block;
    height: 26px;
    width: 183px;
    border: 1px solid #79878d;
    box-shadow:  0 3px ;
    border-radius: 9px/11px;
    line-height: 26px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-left: 24px;
}
.brend{
    margin-left: 9px;
}
form ul li a:not(.brend){
    margin-top: 14px;
    height: 26px;
    width: 134px;
}
form ul li p{
    margin-top: 10px;
    padding-left: 34px;
}
form ul li a img{
    float: left;
    margin-right: 10px;
}
.sending{
    color: #ffffff;
    display: block;
    height: 26px;
    width: 81px;
    font-size: 11px;
    font-family: Arial;
    background-image: linear-gradient(0deg, #0c3256, #206988);
    margin: 20px 0 0 33px;
    outline: none;
    border-radius: 11px;
}
/*left bar*/
.catalog{
    height: 26px;
    width: 183px;
    border: 1px solid #79878d;
    box-shadow:  0 3px ;
    border-radius: 9px/11px;
    line-height: 26px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-right: 24px;
    display: block;
    list-style-type: none;
}
.left-side-bar ul li .shinu,.disk,.bolt{
    display: block;
    height: 26px;
    width: 134px;
    border: 1px solid #79878d;
    box-shadow:  0 3px ;
    border-radius: 9px/11px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-right: 24px;
    /*margin-top: 13px;*/
    margin-top: 3px;
    list-style-type: none;
}
.left-side-bar ul li:not(.bot){
    list-style-type: circle;
    margin-left: 38px;
}
.left-side-bar ul li .shinu{
    margin-top: 13px;
}
.left-side-bar ul li a:not(.shinu):not(.disk):not(.bolt):not(.catalog){
    text-decoration: none;
    display: block;
    color: #a0a8ab;
    margin-top: 8px;
}
.left-side-bar ul li a:not(.shinu):not(.disk):not(.bolt):not(.catalog):hover{
    text-decoration: underline;
    color: blue;
    font-family: italic;
}
.left-side-bar ul li {
    /*list-style-type: circle ;*/
    color: blue;
    /*margin-top: 10px;*/
}
.left-side-bar ul li a img{
    float: left;
    margin-right: 3px;
}
.left-side-bar ul li a p{
    float: left;
    margin: 7px 0 0 0px;
}
/*company logotypes*/
.logotypes{
    height: 90px;
}
.logotypes p{
    padding-top: 35px;
    text-align: center;
}
.logotypes img{
    margin-left: 13px;
}
/*footer*/
.hfooter{
    height: 100px;
    background-color: inherit;
}
.footer{
    height: 100px;
    background-color: #213a4d;
    width: 908px;
    margin: -100px auto;
    border-left: 1px solid #242a3c;
    border-right: 1px solid #242a3c;
}
.footer ul{
    text-align: center;
}
.footer ul li{
    display: inline-block;
    border-right: 1px solid white;
    margin-top: 13px;
}
.footer ul li a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-family: Arial;
    padding-right: 12px;
}
.footer ul li a:hover{
    text-decoration: underline;
    color: #52abcb;
}
.footer ul li:last-child{
    border: none;
}
.footer ul li:not(:first-child){
    margin-left: 11px;
}
.footer p{
    text-align: center;
    font-size: 10px;
    font-family: Arial;
    color: #7f4740;
    margin-top: 17px;
}